ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
  align-items: left; 
}

li {
  float: right;
}

li a {
  display: block;
  padding: 8px;
  background-color: #ADDFAD;
}

.form-group{
  background: yellow;
}
