{% extends "layout.html" %}
{% block content %}

<div class="centraliced">
  <h2>Our teachers</h2>

  <p>Our dedicated teachers are a major factor in the success of the <i>School of Online Studies </i>.
    Teachers are drawn to the <i>School of Online Studies </i> because of our robust model that emphasizes project-based learning,
    art and technology and a supportive environment in which everyone is accountable for helping students reach the goal of attending university. </p>

    <h2>Our alumni</h2>
    <p>Our alumni are all those who have studied at <i>School of Online Studies </i> and its predecessor universities.
      Our network already includes almost 141,000 alumni in more than 80 countries.
      We are here to help you discover new insights, shape a meaningful career path, and learn life-wide.</p>

      <p>Our Career Design Lab is a learning and collaboration space for shaping sustainable careers.
        We support <i>School of Online Studies </i> students and alumni in meaningful career design and lifewide learning.
        For employers, we offer opportunities for collaborating and connecting with <i>School of Online Studies </i> talent.
        We also serve <i>School of Online Studies </i> and all lifewide learners by sharing research-based insights and inspiring dialogue on the
        sustainable and inclusive future of careers. </p>

        <p>Intrested? Join us and release your full potential!</p>
</div>

{% endblock content %}
