<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main1.css') }}">
    {% if title %}
      <title>OnlineStudies - {{ title }}</title>
    {% else %}
      <title> OnlineStudies </title>
    {% endif %}
  </head>
  <body>
    <header>
      <ul>

       {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('logout')}}">Logout</a></li>
         <li><a href="{{ url_for('account')}}">Account</a></li>
         {% if current_user.rights == 'Teacher' %}
            <li><a href="#">Upload courses</a></li>
          {% endif %}
       {% else %}
          <li><a href="{{ url_for('register')}}">Register</a></li>
          <li><a href="{{ url_for('login')}}">Login</a></li>
       {% endif %}
       <li><a href="{{ url_for('about')}}">About</a></li>
       <li><a href="{{ url_for('home') }}">Home</a></li>
      </ul>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {{ messages }}
          {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %} {% endblock %}
        </div>
  <!--      <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>   -->
      </div>
    </main>
  </body>
</html>
